/* Write your CSS here */
.main-container {
  min-height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.second-container {
  min-height: 40vh;
  min-width: 55vw;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}
h1 {
  color: #ff8542;
}
